.card{
  text-align: center;
  margin: 20px 0px;
  width: 150px;
  height: 135px;
}

.card-top{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background: linear-gradient(#9198e5, #e66465);
  height: 140px;
}

.card-top h2{
  font-weight: 500;
}

.card-top p{
  margin-top: -25px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-top img {
  height: 110px;
  padding-bottom: 10px;
  object-fit: contain;
}

.card-bottom{
  border: 2px black solid;
  padding: 5px 0px;
  background: pink;
  border-top: none;
}