.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  max-width: 1500px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 10px 0;
  color: rgb(248, 209, 209);
}