html {
  min-height: 100%;
}

body{
  background: linear-gradient(rgba(247,34,34,1), rgba(247,34,34,0.3))
}

.nav {
  max-width: 1500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 15px;
}
.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item{
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.nav-logo-img {
  max-width: 150px;
}

hr {
  border: 1px white solid;
}