.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-top{
  color: white;
  display: flex;
  align-items: center;
}

.search-top h1{
  font-weight: 400;
  font-size: 45px;
}

.search-top img {
  margin-left: 10px;
  max-width: 50px;
  max-height: 40px;
}

.search-form{
  margin-top: 30px;
  display: flex; 
  align-items: center;
  position: relative;
}

.search-image{
  margin-top: 100px;
  opacity: 1;
  width: 115  0px;
}

.search-input {
  height: 50px;
  margin-right: 20px;
  border: none;
  border-radius: 25px;
  padding-left: 15px;
  width: 450px;
  font-size: 16px;
}

.search-button {
  max-height: 45px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 40px;
}

.search-button img{
  max-height: 28px;
  width: 20px;
}

.error-message{ 
  margin-top: 10px;
  color:azure;
  margin-right: 20px;
}

@media (max-width: 1200px){
  .search-image{
    width: 950px;
  }
}

@media (max-width: 1024px){
  .search-image{
    width: 800px;
  }

  .search-top h1{
    font-size: 36px;
  }

  .search-input {
    width: 375px;
  }
}

@media (max-width: 800px){
  .search-image {
    width: 550px;
  }

  .search-input{ 
    width: 350px; 
  }
}

@media (max-width: 576px){
  .search-image {
    height: 190px; 
    max-width: 400px;
    width: 100%;
  }

  .search-form{
    max-width: 250px;
    width: 100%;
  }

  .search-top h1{
    font-size: 28px;
  }
}