@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.nav-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-toggle img {
  height: 30px;
  width: 30px;
}

@media (max-width: 576px) {
  .nav-toggle{
    display: inline-block;
  }

  .nav-menu {
    display: none;
  }
}

.nav-menu.open {
  display: block;
}

.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.nav-list-modal {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-item-modal {
  color: white;
  font-size: 48px;
}

.nav-list-modal li {
  margin-bottom: 75px;
}

.exit {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.exit img {
  height: 70px;
  width: 70px;
  filter: invert(100%);
}